<!DOCTYPE html>
<html>
  <head>
    <title>RestTester</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p>My love for painting is unexplainable</p>
    <%= yield %>

  <p>Music touches the soul in an unimanigenable way</p>
  </body>
</html>
